
<li draggable="true"
    @ondragstart="@(() => HandleDragStart(DDish))"
    @ondragend="@HandleDragEnd"
    title="@DDish.Text">

    <div class="input-group input-group-sm @cssClass">
        <div class="input-group-prepend">
            <span class="input-group-text drag-symbol"><span class="oi oi-elevator"></span></span>
        </div>
        <input type="text"
               class="form-control"
               style="border: 0px;"
               disabled="disabled"
               value="@DDish.Recipe.Title @((!string.IsNullOrEmpty(DDish.Text)) ? ", " + @DDish.Text : string.Empty)"/>
    </div>




</li>

@code {
    [CascadingParameter] DndContainer Container { get; set; }

    [Parameter] public Dish DDish { get; set; }
    [Parameter] public int DayIndex { get; set; }
    [Parameter] public int MealIndex { get; set; }

    private string cssClass { get; set; }

    protected override void OnParametersSet()
    {
        cssClass = "draggable";
    }

    private void HandleDragStart(Dish dish)
    {
        Container.Payload = dish;
        Container.PayloadOutbound = new[] {DayIndex, MealIndex};
        cssClass = "draggable dragged";
    }

    private void HandleDragEnd()
    {
        cssClass = "draggable";
    }
}
