@using BlazorRecipeApp.Mm.MealPlans.Models
@using BlazorRecipeApp.Mm.MealPlans.Services
@using BlazorRecipeApp.Mm.Shared.Interfaces
@inject IMenuService MenuService
@inject NavigationManager NavManager
@inject IMenuFactory MenuFactory

<div>
    
    <div>
        <select @bind="Type">
            <option value=@MenuType.Empty>Empty</option>
            <option value=@MenuType.Week>Week</option>
        </select>
        <button type="button" @onclick="@OnNewMenuButtonClick">New Menu</button>
    </div>

    <p>Create a new menu:</p>
    @*<EasyButton.IconButton Type="button" CssClass="btn-primary" Text="New menu" OnClick="@(() => HandleCreateMenu(MenuType.Empty))">
        <span class="material-icons-outlined">
            note_add
        </span>
    </EasyButton.IconButton>*@
</div>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
        @foreach (var m in Menus)
        {
            var menu = m;
            <tr>
                <td>
                    @menu.Id
                </td>
                <td>
                    @menu.CreatedDateTime.ToString("dd.MM.yyyy HH:mm")
                </td>
                <td>
                    @menu.Name
                    
                </td>
                <td>
                    <EasyButton.Button CssClass="btn-primary" OnClick="@(() => HandleGoToButtonClick(menu.Id))">Open</EasyButton.Button>
                    <EasyButton.Button CssClass="btn-outline-danger" OnClick="@(() => HandleDeleteButton(menu))" >Delete</EasyButton.Button>
                </td>
            </tr>

        }
    </table>

</div>

@code {
    [Parameter]
    public List<Menu> Menus { get; set; }

    private MenuType Type { get; set; }

    //[Parameter]
    //public EventCallback<int> OnClick { get; set; }


    private async Task OnNewMenuButtonClick()
    {
        Menu menu = MenuFactory.CreateMenu(Type);
        await MenuService.CreateMenuAsync(menu);
        await RefreshMenuList();
        StateHasChanged();
    }

    private void HandleGoToButtonClick(int menuId)
    {
        NavManager.NavigateTo($"/menus/edit/{menuId}");
    }

    private async Task HandleDeleteButton(Menu menu)
    {
        await MenuService.DeleteMenuAsync(menu);
        await RefreshMenuList();
        StateHasChanged();
    }

    private async Task RefreshMenuList()
    {
        var menuList = await MenuService.GetAllMenusAsync();
        Menus = menuList.ToList();
    }
}
